---
layout: default
---
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
  </header>
{{ content }}
  {% if site.comments.disqus %}
  <hr>
  <a href="#disqus_thread" id="load-comments" class="ghost" title="Click to load comments">Load Comments</a>
  <div id="disqus_thread"></div>
  {% endif %}
</article>
{% if site.post_footer %}
{% if page.previous.url or page.next.url %}
<footer>
  {% if page.next.url %}<a class="gray" href="{{ page.next.url | relative_url }}">« {{ page.next.title }}</a>{% else %}<span></span>{% endif %}
  {% if page.previous.url %}<a class="gray" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} »</a>{% else %}<span></span>{% endif %}
</footer>
{% endif %}
{% endif %}

{% if site.comments.disqus %}
<script>
(function(){
    document.getElementById('load-comments').addEventListener('click', function(e){
        e.preventDefault();
        e.target.remove();
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://{{ site.comments.disqus }}.disqus.com/embed.js'; 
        document.getElementsByTagName('body')[0].appendChild(script);
    })
})()
</script>
<script id="dsq-count-scr" src="https://{{ site.comments.disqus }}.disqus.com/count.js" async></script>
{% endif %}
